<div class="spacer"></div>
<div class="container">
  <div class="col-sm-12">
    <h1 class="text-center">{{ 'preview.title' | translate }}</h1>
  </div>
</div>
<div class="spacer"></div>

<div class="container">
  <div class="row inline-block-row">
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="images/boat.jpg" alt="...">
        <div class="caption">
          <h3>Protect dolphin</h3>
          <p>Apparently they are our cousin...</p>
          <p><a href="http://eepurl.com/bQt8nL" class="btn btn-primary" role="button">More info</a> <a href="http://eepurl.com/bQt8nL" class="btn btn-default" role="button">Act!</a></p>
        </div>
      </div>

    </div>

    

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="images/mac-glasses.jpg" alt="...">
        <div class="caption">
          <h3>Write a book</h3>
          <p>Well help me to pay my holidays to get inspired...</p>
          <p><a href="http://eepurl.com/bQt8nL" class="btn btn-primary" role="button">More info</a> <a href="http://eepurl.com/bQt8nL" class="btn btn-default" role="button">Act!</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="images/party.jpeg" alt="...">
        <div class="caption">
          <h3>Social Party</h3>
          <p>We promess, we give all the money to a charity</p>
          <p><a href="http://eepurl.com/bQt8nL" class="btn btn-primary" role="button">More info</a> <a href="http://eepurl.com/bQt8nL" class="btn btn-default" role="button">Act!</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="images/portfolio-1.jpg" alt="...">
        <div class="caption">
          <h3>Help me creat the next Uber!</h3>
          <p>Let's uberise the world</p>
          <p><a href="http://eepurl.com/bQt8nL" class="btn btn-primary" role="button">More info</a> <a href="http://eepurl.com/bQt8nL" class="btn btn-default" role="button">Act</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="images/portfolio-2.jpg" alt="...">
        <div class="caption">
          <h3>I need a new keyboard</h3>
          <p>I am not buying a DELL</p>
          <p><a href="http://eepurl.com/bQt8nL" class="btn btn-primary" role="button">More info</a> <a href="http://eepurl.com/bQt8nL" class="btn btn-default" role="button">Act!</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="images/portfolio-3.jpg" alt="...">
        <div class="caption">
          <h3>I need a new manicure!</h3>
          <p>Please please please</p>
          <p><a href="http://eepurl.com/bQt8nL" class="btn btn-primary" role="button">More info</a> <a href="http://eepurl.com/bQt8nL" class="btn btn-default" role="button">Act!</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="images/portfolio-4.jpg" alt="...">
        <div class="caption">
          <h3>I run out of ink...</h3>
          <p>I got a PARKER, and you know...</p>
          <p><a href="http://eepurl.com/bQt8nL" class="btn btn-primary" role="button">More info</a> <a href="http://eepurl.com/bQt8nL" class="btn btn-default" role="button">Act!</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="images/boat.jpg" alt="...">
        <div class="caption">
          <h3>Why not your project?</h3>
          <p>You could be here!</p>
          <p><a href="http://eepurl.com/bQt8nL" class="btn btn-primary" role="button">More info</a> <a href="http://eepurl.com/bQt8nL" class="btn btn-default" role="button">Act!</a></p>
        </div>
      </div>
    </div>



  </div>
</div>  
